<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
    <title>{{title}}</title>
  </head>

  <body style='margin: 0; font-family: arial'>
    <div style='background-color: #f6f6f6; padding: 3rem'>
      <div
        style='
          margin: auto;
          min-width: 440px !important;
          max-width: 600px !important;
        '
      >
        <div
          style='
            background: white;
            padding: 2rem;
            border-radius: 10px;
            margin-bottom: 2rem;
          '
        >
          <p
            style='
              font-style: normal;
              font-weight: 700;
              font-size: 36px;
              line-height: 10px;
              color: #242424;
              text-align: center;
            '
          >
            Ludmila
          </p>
          <p
            style='
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 21px;
              color: #242424;
            '
          >
            {{name}}
            thân mến,
          </p>
          <p
            style='
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              color: #242424;
            '
          >
            Để xác nhận email vui lòng nhấn vào nút bên dưới
          </p>

          <div dir='ltr' style='opacity: 0.01; left: 966px; top: 415.5px'>
            <span><button>
                <span></span><span data-unbounded='false'></span><span
                  aria-hidden='true'
                ><span class='bzc-ank' aria-hidden='true'></span></span>
              </button>
            </span>
          </div>
          <p
            style='
              font-size: 14px;
              font-style: italic;
              font-weight: 400;
              color: #6e6b7b;
              margin-bottom: 25px;
            '
          >
            Nếu không đăng ký, bạn có thể bỏ qua email này. Nếu không đưa ra yêu
            cầu này, hãy liên hệ với chúng tôi ngay.
            <span style='color: rgb(48, 150, 197)'><a
                href='mailto:hotro@ludmila.vn'
                target='_blank'
              >hotro@ludmila.vn</a></span>
          </p>
          <p
            style='
              font-size: 14px;
              font-style: italic;
              font-weight: 400;
              color: #6e6b7b;
              margin-bottom: 35px;
            '
          >
            Trang chủ:
            <a href='https://www.ludmila.vn' target='_blank'>www.ludmila.vn</a>
          </p>
          <a
            href='{{url}}'
            style='
              text-decoration: none;
              background: #fc6634;
              border-radius: 5px;
              border: none;
              padding: 10px 28px;
              color: white;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 19px;
              margin: 0.75rem 0;
            '
            target='_blank'
          >Xác nhận</a>
          <div
            style='
              border: 1px solid #ebe9f1;
              margin-top: 3.5rem;
              margin-bottom: 1rem;
            '
          ></div>
          <p
            style='
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;
            '
          >
            <span style='color: #5e5873'>Không biết tại sao nhận được tin nhắn
              này?</span>
            <a
              href='https://ludmila.vn/contact'
              style='color: #0d6efd; text-decoration: none; margin-left: 4rem'
            >Thông báo cho chúng tôi</a>
          </p>
          <p
            style='
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;
              color: #5e5873;
            '
          >
            <span>Xin cám ơn</span>
            <br />
            <span>Đội ngũ Ludmila</span>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>